@model IEnumerable<RopeyDVD.Models.DVDCopy>

@{
    ViewData["Title"] = "DVDCopies";
}

<div class="admin-container">
    <h1>DVDCopies</h1>
    <table class="hover" id="example">
        <thead>
            <tr>
                 <th>
                    @Html.DisplayNameFor(model => model.CopyNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DatePurchased)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CopyNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatePurchased)
                    </td>
                    <td>
                        <a asp-action="DVDCopyLoan" asp-route-id="@item.CopyNumber">Previous loan</a> 
                    </td>
                </tr>
        }
            </tbody>
    </table>
</div>

