@model IEnumerable<RopeyDVD.Models.Member>

@{
    ViewData["Title"] = "Index";
}


<div class="admin-container">
    <h1>Index</h1>
    <table class="hover" id="example">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MembershipCategory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MembershipLastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MembershipFirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MembershipAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MemberDOB)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MembershipCategory.MembershipCategoryNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MembershipLastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MembershipFirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MembershipAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MemberDOB)
                    </td>
                    <td>
                        <a asp-action="MemberDVD" asp-route-id="@item.MembershipNumber">View Loans</a> 
                    </td>
                </tr>
        }
        </tbody>
    </table>
</div>
