@model IEnumerable<RopeyDVD.Models.ViewModels.MemberListViewModel>

    @*
        For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    *@
    @{
    }


    <div class="admin-container">
        <table class="hover" id="example">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.MemberName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalDVD)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MemberName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    @if(item.Exceeds == "True")
                {
                    <td>
                        Too many DVDs
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalDVD)
                    </td>
                }
                </tr>
}
            </tbody>
        </table>
    </div>