@model IEnumerable<RopeyDVD.Models.Actor>

@{
    ViewData["Title"] = "ViewActors";

}

<div class="admin-container">
    <h1>ViewActors</h1>

    <table class="hover" id="example">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ActorSurname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActorFirstName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ActorSurname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActorFirstName)
                </td>
                <td>
                    <a asp-action="details" asp-route-id="@item.ActorNumber">DVD Titles</a> |
                    <a asp-action="DVDCopy" asp-route-id="@item.ActorNumber">DVD Copies</a>

                </td>
            </tr>
    }
        </tbody>
    </table>

</div>

